.hr hr {
    border-top: 1px solid #c6bfbf;
    width:70%;
}

.hr-top hr{
    margin-top: -10px;
}

a {color: #000;}

.img img{
    height: 250px;
    object-fit: cover;
}


.card {
    background-color: #FFFFFF;
    padding:0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius:0;
    border: 0;
    /*box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);*/
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}


.card:hover{
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
    color:black;
}

address{
    margin-bottom: 0px;
}


#author a{
    color: #fff;
    text-decoration: none;

}

.seemore {
    color: #167ffb;
    text-decoration: none;
}

.see-prod {
    color: white;
}