<html>

<body>
<div>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<div>
    <form method="post">
        <input type="text" name="name" placeholder="наименование товара" />
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <button type="submit">Добавить</button>
    </form>
</div>
<div>Список товаров</div>
{{#producttypes}}
    <div>
        <b>{{id}}</b>
        <span>{{name}}</span>
    </div>
{{/producttypes}}
</body>
</html>